{% extends 'pages/base.html' %}
{% load static%}
{% load i18n %}

{% block title %} {% trans 'Spécifications sur les Conteneurs' %} | {% trans "Sea Fly Services Transitaire Français basé en Thaïlande" %} {% endblock %}
{% block css %}
<style>
    :root{
        --text: #565656;
    }
    #faq{
        visibility: hidden;
    }
    .topImg{
        visibility: hidden;
        width: 100%;
        height: 16rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("{% static 'pages/img/hamburg-3021820_640.jpg' %}");
    }

    .contact{
        width: 100%;
        display: flex;
        color: #d91a31!important;
        font-size: 1.7rem;
        margin-top: 18px;
    }
    .content{
        display: grid;
        grid-template-columns: 5fr 2fr;
        margin-top: 15px;
    }
    @media screen and (max-width: 864px) {
        .content{
            grid-template-columns: 1fr;
        }
        .buttons .button--contact{
            display: flex;
            flex-direction: row;
        }
        .buttons .button--contact button{
            margin: 10px 0 10px;
        }
        .desc{
            text-align: center;
        }
    }
    .left{
        margin-right: 15px;
    }
    .title{
        font-size: 1.6em;
        margin: 0.67em 0;
        color: #ed120b;
        font-weight: bold;
    }
    .number{
        font-size: 1.8rem;
    }
    .desc{
        color: var(--text);
        font-size: 0.8rem;
        margin: 5px;
    }
    .buttons .button--contact button{
        margin: 10px 0 10px;
    }

</style>
{% endblock %}

{% block content %}
    <div class="topImg">

    </div>
    <div id="faq">
        <v-app>
            <div class="content">
                <div class="left">
                    <div class="title">
                        {% trans 'Spécifications sur les Conteneurs' %}
                    </div>
                    <v-app>
                        <div class="spec">
                            <div class="table mt-6">
                                <div class="table--title text-center"><h4>DRY CONTAINERS</h4></div>
                                <v-simple-table>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <td class="text-center" colspan="2">Dry / Steel</td>
                                                <td class="text-center" colspan="2">Door openings (mm)</td>
                                                <td class="text-center" colspan="2">Internal (mm)</td>
                                                <td class="text-center" colspan="2">Weight (kg)</td>
                                                <td class="text-center" colspan="3">(m3)</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th class="text-left">Type</th>
                                            <th class="text-left">Size</th>
                                            <th class="text-left">Width</th>
                                            <th class="text-left">Height</th>
                                            <th class="text-left">Length</th>
                                            <th class="text-left">Width</th>
                                            <th class="text-left">Height to load line</th>
                                            <th class="text-left">Max. Gross</th>
                                            <th class="text-left">Tare</th>
                                            <th class="text-left">Max. Payload</th>
                                            <th class="text-left">Capacity to load line</th>
                                        </tr>
                                        <tr v-for="item in specs" :key="item.name">
                                            <td>[[ item.type ]]</td>
                                            <td>[[ item.size ]]</td>
                                            <td>[[ item.width1 ]]</td>
                                            <td>[[ item.height ]]</td>
                                            <td>[[ item.length ]]</td>
                                            <td>[[ item.width2 ]]</td>
                                            <td>[[ item.htll ]]</td>
                                            <td>[[ item.maxGross ]]</td>
                                            <td>[[ item.tare ]]</td>
                                            <td>[[ item.maxPayload ]]</td>
                                            <td>[[ item.ctll ]]</td>
                                        </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </div>
                            <div class="table mt-10">
                                <div class="table--title text-center"><h4>REFER CONTAINERS</h4></div>
                                <v-simple-table>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <td class="text-center" colspan="2">Reefer / Steel</td>
                                                <td class="text-center" colspan="2">Door openings (mm)</td>
                                                <td class="text-center" colspan="2">Internal (mm)</td>
                                                <td class="text-center" colspan="2">Weight (kg)</td>
                                                <td class="text-center" colspan="3">(m3)</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th class="text-left">Type</th>
                                            <th class="text-left">Size</th>
                                            <th class="text-left">Width</th>
                                            <th class="text-left">Height</th>
                                            <th class="text-left">Length</th>
                                            <th class="text-left">Width</th>
                                            <th class="text-left">Height to load line</th>
                                            <th class="text-left">Max. Gross</th>
                                            <th class="text-left">Tare</th>
                                            <th class="text-left">Max. Payload</th>
                                            <th class="text-left">Capacity to load line</th>
                                        </tr>
                                        <tr v-for="item in specs" :key="item.name">
                                            <td>[[ item.type ]]</td>
                                            <td>[[ item.size ]]</td>
                                            <td>[[ item.width1 ]]</td>
                                            <td>[[ item.height ]]</td>
                                            <td>[[ item.length ]]</td>
                                            <td>[[ item.width2 ]]</td>
                                            <td>[[ item.htll ]]</td>
                                            <td>[[ item.maxGross ]]</td>
                                            <td>[[ item.tare ]]</td>
                                            <td>[[ item.maxPayload ]]</td>
                                            <td>[[ item.ctll ]]</td>
                                        </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </div>
                        </div>
                    </v-app>
                </div>
                <div class="right">
                    <div class="contact">
                        <div style="width: auto; margin: auto">
                            <div class="number ml-3"><a href="tel:026903523" style="text-decoration: none"><v-icon color="black" style="font-size: 1.8rem;">phone</v-icon>02-690-3523</a></div>
                        </div>
                    </div>
                    <div class="desc">
                        <p>{% trans 'Notre experience de 20 ans a votre disposition pour votre envoi.' %}</p>
                    </div>
                    <div class="buttons">
                        <button-red-green></button-red-green>
                    </div>
                </div>
            </div>
        </v-app>
    </div>
{% endblock %}

{% block js %}
<script>
    let view = 'faq';
    new Vue({
        delimiters: ['[[', ']]'],
        vuetify: vuetify,
        el: '#' + view,
        mounted () {
            document.getElementById(view).style.visibility = 'visible';
            document.getElementsByClassName("topImg")[0].style.visibility = 'visible';
        },
        data: () => ({
            specs: [
                {
                    type: '20″',
                    size: '20′ x 8′ x 8′ 6″',
                    width1: '2,340',
                    height: '2,274',
                    length: '5,896',
                    width2: '2,350',
                    htll: '2,385',
                    maxGross: '27,000',
                    tare: '2,150',
                    maxPayload: '24,850',
                    ctll: '\t33.2',
                },
                {
                    type: '20″',
                    size: '20′ x 8′ x 8′ 6″',
                    width1: '2,340',
                    height: '2,274',
                    length: '5,896',
                    width2: '2,350',
                    htll: '2,385',
                    maxGross: '27,000',
                    tare: '2,150',
                    maxPayload: '24,850',
                    ctll: '\t33.2',
                },
                {
                    type: '20″',
                    size: '20′ x 8′ x 8′ 6″',
                    width1: '2,340',
                    height: '2,274',
                    length: '5,896',
                    width2: '2,350',
                    htll: '2,385',
                    maxGross: '27,000',
                    tare: '2,150',
                    maxPayload: '24,850',
                    ctll: '\t33.2',
                },
                {
                    type: '20″',
                    size: '20′ x 8′ x 8′ 6″',
                    width1: '2,340',
                    height: '2,274',
                    length: '5,896',
                    width2: '2,350',
                    htll: '2,385',
                    maxGross: '27,000',
                    tare: '2,150',
                    maxPayload: '24,850',
                    ctll: '\t33.2',
                },
                {
                    type: '20″',
                    size: '20′ x 8′ x 8′ 6″',
                    width1: '2,340',
                    height: '2,274',
                    length: '5,896',
                    width2: '2,350',
                    htll: '2,385',
                    maxGross: '27,000',
                    tare: '2,150',
                    maxPayload: '24,850',
                    ctll: '\t33.2',
                },
            ]
        })
    });
</script>
{% endblock %}